@import '../../styles/variables.scss';

.status-tag {
  display: flex;
  align-items: center;
  padding: 3px 6px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 3px;

  .status-tag-title {
    font-family: Lab Grotesque;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.2px;
    white-space: nowrap;
  }

  &.yellow {
    background: $status-yellow;
  }

  &.white {
    background: $status-white;
  }
}