@font-face {
  font-family: 'Lab Grotesque';
  font-weight: 900;
  font-style: normal;
  src: url('../fonts//LabGrotesque-Black.otf') format('truetype');
}

@font-face {
  font-family: 'Lab Grotesque';
  font-weight: 900;
  font-style: italic;
  src: url('../fonts//LabGrotesque-BlackItalic.otf') format('truetype');
}

@font-face {
  font-family: 'Lab Grotesque';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts//LabGrotesque-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'Lab Grotesque';
  font-weight: bold;
  font-style: italic;
  src: url('../fonts//LabGrotesque-BoldItalic.otf') format('truetype');
}

@font-face {
  font-family: 'Lab Grotesque';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts//LabGrotesque-Italic.otf') format('truetype');
}

@font-face {
  font-family: 'Lab Grotesque';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts//LabGrotesque-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Lab Grotesque';
  font-weight: 300;
  font-style: italic;
  src: url('../fonts//LabGrotesque-LightItalic.otf') format('truetype');
}

@font-face {
  font-family: 'Lab Grotesque';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts//LabGrotesque-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Lab Grotesque';
  font-weight: 500;
  font-style: italic;
  src: url('../fonts//LabGrotesque-MediumItalic.otf') format('truetype');
}

@font-face {
  font-family: 'Lab Grotesque';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts//LabGrotesque-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Lab Grotesque';
  font-weight: 100;
  font-style: normal;
  src: url('../fonts//LabGrotesque-Thin.otf') format('truetype');
}

@font-face {
  font-family: 'Lab Grotesque';
  font-weight: 100;
  font-style: italic;
  src: url('../fonts//LabGrotesque-ThinItalic.otf') format('truetype');
}

@font-face {
  font-family: 'Roobert';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Roobert-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'Roobert';
  font-weight: 100;
  font-style: normal;
  src: url('../fonts//Roobert-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Roobert';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts//Roobert-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Roobert';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts//Roobert-Regular.otf') format('truetype');
}